{% extends 'layout/base.html' %}

{% block content %}

<div class="h-100 d-flex align-item-center justify-content-center" >
    <form method="post" action="{{ url_for('register') }}" style="height: fit-content; min-width: 300pxl;"
          class="my-auto p-4 bg-white shadow-lg rounded-1" enctype="multipart/form-data">

        <div class="fs-3 text-primary text-center my-4">Đăng ký</div>

        <!-- Username input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="username">Tên đăng nhập hoặc email:</label>
            <input required minlength="4" autofocus name="username" type="text" id="username" class="form-control"/>
        </div>

        <!-- Fullname input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="fullname">Họ và tên:</label>
            <input minlength="4" required name="fullname" type="text" id="fullname" class="form-control"/>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="password">Mật khẩu:</label>
            <input minlength="4" required name="password" type="password" id="password" class="form-control"/>
        </div>

        <!-- Confirm password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="confirm">Xác nhận mật khẩu:</label>
            <input required name="confirm" type="password" id="confirm" class="form-control"/>
        </div>
        <div class="form-outline mb-4">
            <label for="avatar" class="form-label">Ảnh đại diện:</label>
            <input type="file" class="form-control" id="avatar" name="avatar">
        </div>
        <!-- Submit button -->
        <button disabled type="submit" class="w-100 btn btn-primary btn-block mb-4">Đăng ký</button>

        <!-- Sign up buttons -->
        <div class="text-center">
            <p>Đã có tài khoản? <a href="/login">Đăng nhập</a></p>
        </div>

        {% if err_msg %}
        <div class="alert text-center alert-danger">
            {{ err_msg }}
        </div>
        {% endif %}
    </form>
</div>
<script>
    const uName = document.querySelector('#username')
    const fName = document.querySelector('#fullname')
    const pw = document.querySelector('#password')
    const cf = document.querySelector('#confirm')
    const submitBtn = document.querySelector('button[type=submit]')

    cf.oninput = (e) => {
        if (cf.value.trim() === pw.value) {
            submitBtn.disabled = false
            cf.style.border = 'none'
        } else {
            cf.style.border = '1px solid red'
            submitBtn.disabled = true
        }
    }

    document.querySelector('form').onsubmit = (e) => {
        if (uName.value.trim().length < 4 || fName.value.trim().length < 4 || pw.value.trim().length < 4) {
            e.preventDefault()
            Swal.fire("Lỗi", "Các trường phải gồm ít nhất 4 ký tự!", "error")
        }
    }

</script>
{% endblock %}